In [9]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [10]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Corpus Christi,US,2021-03-20 20:26:16,27.8006,-97.3964,69.01,49,20,4.61
1,1,Punta Arenas,CL,2021-03-20 20:21:21,-53.1500,-70.9167,51.80,58,75,34.52
2,2,Mujiayingzi,CN,2021-03-20 20:26:17,42.1167,118.7833,25.72,42,64,19.35
3,3,Parker,US,2021-03-20 20:26:17,32.7668,-97.8003,69.01,43,0,4.00
4,4,Tautira,PF,2021-03-20 20:26:17,-17.7333,-149.1500,87.80,66,75,13.80

In [12]:
#Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [13]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [18]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [23]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

In [25]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [28]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [29]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
4,4,Tautira,PF,2021-03-20 20:26:17,-17.7333,-149.1500,87.80,66,75,13.80
9,9,Rikitea,PF,2021-03-20 20:26:19,-23.1203,-134.9692,79.66,75,10,8.03
16,16,Saint-Joseph,RE,2021-03-20 20:26:21,-21.3667,55.6167,78.80,83,20,11.50
19,19,Harper,LR,2021-03-20 20:26:22,4.3750,-7.7169,79.79,80,100,7.96
21,21,Faanui,PF,2021-03-20 20:26:22,-16.4833,-151.7500,82.90,63,2,5.79
41,41,Atuona,PF,2021-03-20 20:26:28,-9.8000,-139.0333,80.01,78,23,13.13
48,48,Barao De Cocais,BR,2021-03-20 20:26:30,-19.9458,-43.4872,82.40,44,40,11.50
55,55,Victoria,HK,2021-03-20 20:24:15,22.2855,114.1577,75.99,82,36,2.75
56,56,Mogadishu,SO,2021-03-20 20:26:32,2.0371,45.3438,80.78,83,34,15.79
57,57,Carnarvon,AU,2021-03-20 20:26:33,-24.8667,113.6333,75.20,78,0,9.22

In [30]:
preferred_cities_df.count()

City_ID       164
City          164
Country       164
Date          164
Lat           164
Lng           164
Max Temp      164
Humidity      164
Cloudiness    164
Wind Speed    164
dtype: int64

In [31]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
4           Tautira      PF     87.80 -17.7333 -149.1500
9           Rikitea      PF     79.66 -23.1203 -134.9692
16     Saint-Joseph      RE     78.80 -21.3667   55.6167
19           Harper      LR     79.79   4.3750   -7.7169
21           Faanui      PF     82.90 -16.4833 -151.7500
41           Atuona      PF     80.01  -9.8000 -139.0333
48  Barao De Cocais      BR     82.40 -19.9458  -43.4872
55         Victoria      HK     75.99  22.2855  114.1577
56        Mogadishu      SO     80.78   2.0371   45.3438
57        Carnarvon      AU     75.20 -24.8667  113.6333

In [32]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [37]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [39]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
4,Tautira,PF,87.80,-17.7333,-149.1500,Pension Oaoa
9,Rikitea,PF,79.66,-23.1203,-134.9692,Pension Maro'i
16,Saint-Joseph,RE,78.80,-21.3667,55.6167,"""Plantation Bed and Breakfast"
19,Harper,LR,79.79,4.3750,-7.7169,Screensaver
21,Faanui,PF,82.90,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
41,Atuona,PF,80.01,-9.8000,-139.0333,Villa Enata
48,Barao De Cocais,BR,82.40,-19.9458,-43.4872,Impar Suites Barao de Cocais
55,Victoria,HK,75.99,22.2855,114.1577,Mini Hotel Central
56,Mogadishu,SO,80.78,2.0371,45.3438,Olympic Hotel
57,Carnarvon,AU,75.20,-24.8667,113.6333,Hospitality Carnarvon

In [42]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [43]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""


# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [44]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))